@model List<ContatoModel>

@{
    ViewData["Title"] = "Contato";
}

<a type="button" class="btn btn-primary" asp-controller="Contato" asp-action="AdicionarPage">Adicionar novo contato</a>


@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success text-center mt-3" role="alert">
        <button role="button" class="btn btn-sm text-success close-return" arial-label="Close">X</button>
        @TempData["MessageSuccess"]
    </div>
}
@if (TempData["MessageFailed"] != null)
{
    <div class="alert alert-danger text-center mt-3" role="alert">
        <button role="button" class="btn btn-sm text-danger close-return" arial-label="Close">X</button>
        @TempData["MessageFailed"]
    </div>
}

<h1 class="text-center display-4">Listagem de Contatos</h1>
<br />
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Nome</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="AlterarContato">Alterar</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="DeletarContato">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>